In [2]:
# Basic data and viz
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import io
import base64

# Dash stuff
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Output, Input

# FbProphet
import json
from fbprophet.serialize import model_to_json, model_from_json

In [3]:
# Reading in data
data = pd.read_csv("msa_merged_data.csv")
data["BEGIN_DATE_GMT"] = pd.to_datetime(data["BEGIN_DATE_GMT"])
data["Weighted_Avg_Temp.1_hour_lag"] = data["Weighted_Avg_Temp"].shift(1)
data['year'] = data['BEGIN_DATE_GMT'].dt.year
data.set_index("BEGIN_DATE_GMT", drop = False, inplace=True)
data.head()

,BEGIN_DATE_GMT,HE,POOL_PRICE,AIL_DEMAND,Avg_temp,Weighted_Avg_Temp,future 1,future 2,future 3,future 4,WTI spot,dayofweek,month,year,holiday,workingday,Weighted_Avg_Temp.1_hour_lag
BEGIN_DATE_GMT,,,,,,,,,,,,,,,,,
2010-01-01 07:00:00,2010-01-01 07:00:00,1,51.12,8307.0,-24.100,-22.952601,84.591078,85.224136,85.77417,86.261936,84.601456,4,1,2010,1,0,NaN
2010-01-01 08:00:00,2010-01-01 08:00:00,2,48.79,8186.0,-23.775,-22.588126,84.591078,85.224136,85.77417,86.261936,84.601456,4,1,2010,1,0,-22.952601
2010-01-01 09:00:00,2010-01-01 09:00:00,3,39.56,8075.0,-23.425,-22.339761,84.591078,85.224136,85.77417,86.261936,84.601456,4,1,2010,1,0,-22.588126
2010-01-01 10:00:00,2010-01-01 10:00:00,4,36.27,8013.0,-23.000,-21.877969,84.591078,85.224136,85.77417,86.261936,84.601456,4,1,2010,1,0,-22.339761
2010-01-01 11:00:00,2010-01-01 11:00:00,5,36.16,7982.0,-22.400,-21.527531,84.591078,85.224136,85.77417,86.261936,84.601456,4,1,2010,1,0,-21.877969

In [4]:
data.columns

Index(['BEGIN_DATE_GMT', 'HE', 'POOL_PRICE', 'AIL_DEMAND', 'Avg_temp',
       'Weighted_Avg_Temp', 'future 1', 'future 2', 'future 3', 'future 4',
       'WTI spot', 'dayofweek', 'month', 'year', 'holiday', 'workingday',
       'Weighted_Avg_Temp.1_hour_lag'],
      dtype='object')

In [6]:
data["Weighted_Avg_Temp"]

BEGIN_DATE_GMT
2010-01-01 07:00:00   -22.952601
2010-01-01 08:00:00   -22.588126
2010-01-01 09:00:00   -22.339761
2010-01-01 10:00:00   -21.877969
2010-01-01 11:00:00   -21.527531
                         ...
2020-12-30 19:00:00    -1.768968
2020-12-30 20:00:00    -1.299453
2020-12-30 21:00:00    -0.006591
2020-12-30 22:00:00    -0.833002
2020-12-30 23:00:00    -1.124149
Name: Weighted_Avg_Temp, Length: 96401, dtype: float64